<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-commerce Analytics Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome to the E-commerce Analytics Dashboard</h1>
        <nav class="navigation">
            <ul class="nav-list">
                <li><a href="/users">Users</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/sales">Sales</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/kibana-dashboard">Dashboard</a></li>
                <li><a href="/manage-item">Add Data</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
